h1{
    color: white;
}

.search{
    color:white;
    font-weight:bold;
}

.search input{
    margin-left: 25px;
    border-radius:5px;
    border: 3px gray solid
}

.principal_container{
    margin: 50px;
}

.cards-container{
    margin:20px;
    display: flex;
    flex-wrap: wrap;
}